<footer>

    <div class="footer-container">
      
      
      <table class="footer-links">
        <tr>
          <th>Shop and Learn</th>
          <th>Services</th>
          <th>Apple Store</th>
          <th>For Business</th>
          <th>Apple Values</th>
        </tr>
        <tr>
          <td><a href="#">Mac</a></td>
          <td><a href="#">Apple Music</a></td>
          <td><a href="#">Find a Store</a></td>
          <td><a href="#">Apple and Business</a></td>
          <td><a href="#">Accessibility</a></td>
        </tr>
        <tr>
          <td><a href="#">iPad</a></td>
          <td><a href="#">Apple News+</a></td>
          <td><a href="#">Shop Online</a></td>
          <td><a href="#">Shop for Business</a></td>
          <td><a href="#">Environment</a></td>
        </tr>
        <tr>
          <td><a href="#">iPhone</a></td>
          <td><a href="#">Apple TV+</a></td>
          <td><a href="#">Genius Bar</a></td>
          <td></td>
          <td><a href="#">Privacy</a></td>
        </tr>
        <tr>
          <td><a href="#">Watch</a></td>
          <td><a href="#">Apple Arcade</a></td>
          <td><a href="#">Tody at Apple</a></td>
          <th>For Education</th>
          <td><a href="#">Supplier Responsibility</a></td>
        </tr>
        <tr>
          <td><a href="#">TV</a></td>
          <td><a href="#">Apple Books</a></td>
          <td><a href="#">Apple Summer Camp</a></td>
          <td><a href="#">Apple and Education</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#">Music</a></td>
          <td><a href="#">iCloud</a></td>
          <td><a href="#">Apple Store App</a></td>
          <td><a href="#">Shop for university</a></td>
          <th>About Apple</th>
        </tr>
        <tr>
          <td><a href="#">AirPods</a></td>
          <td></td>
          <td><a href="#">Refurbished and Clearance</a></td>
          <td></td>
          <td><a href="#">Newsroom</a></td>
        </tr>
        <tr>
          <td><a href="#">HomePod</a></td>
          <th>Account</th>
          <td><a href="#">Financing</a></td>
          <th>For Healthcare</th>
          <td><a href="#">Apple Leadership</a></td>
        </tr>
        <tr>
          <td><a href="#">iPod Touch</a></td>
          <td><a href="#">Manage Your Apple ID</a></td>
          <td><a href="#">Apple Trade In</a></td>
          <td><a href="#">Apple In Healthcare</a></td>
          <td><a href="#">Job Opportunities</a></td>
        </tr>
        <tr>
          <td><a href="#">Accessories</a></td>
          <td><a href="#">Apple Store Account</a></td>
          <td><a href="#">Order Status</a></td>
          <td><a href="#">Health on Apple Watch</a></td>
          <td><a href="#">Warranty</a></td>
        </tr>
        <tr>
          <td><a href="#">Gift Cards</a></td>
          <td><a href="#">iCloud.com</a></td>
          <td><a href="#">Shopping Help</a></td>
          <td></td>
          <td><a href="#">Investors</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="#">Events</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="#">European Job Creation</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="#">Contact Apple</a></td>
        </tr>
      </table>
      <!-- ADD ACCORDION HERE -->

      <div class="table-accordion">
        <button class="accordion">Shop and Learn</button>
        <div class="panel">
          <ul>
            <li><a href="#">Mac</a></li>
            <li><a href="#">iPad</a></li>
            <li><a href="#">iPhone</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">AirPods</a></li>
            <li><a href="#">HomePod</a></li>
            <li><a href="#">iPod Touch</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Gift Cards</a></li>
          </ul>
        </div>

        <button class="accordion">Services</button>
        <div class="panel">
          <ul>
            <li><a href="#">Apple Music</a></li>
            <li><a href="#">Apple News+</a></li>
            <li><a href="#">Apple TV+</a></li>
            <li><a href="#">Apple Arcade</a></li>
            <li><a href="#">Apple Books</a></li>
            <li><a href="#">iCloud</a></li>
          </ul>
        </div>

        <button class="accordion">Account</button>
        <div class="panel">
          <ul>
            <li><a href="#">Manage Your Apple ID</a></li>
            <li><a href="#">Apple Store Account</a></li>
            <li><a href="#">iCloud.com</a></li>
          </ul>
        </div>
        <button class="accordion">Apple Store</button>
        <div class="panel">
          <ul>
            <li><a href="#">Find a Store</a></li>
            <li><a href="#">Shop Online</a></li>
            <li><a href="#">Genius Bar</a></li>
            <li><a href="#">Today at Apple</a></li>
            <li><a href="#">Apple Summer Camp</a></li>
            <li><a href="#">Apple Store App</a></li>
            <li><a href="#">Refurbished and Clearance</a></li>
            <li><a href="#">Financing</a></li>
            <li><a href="#">Apple Trade In</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Shopping Help</a></li>
          </ul>
        </div>
        <button class="accordion">For Business</button>
        <div class="panel">
          <ul>
            <li><a href="#">Apple and Business</a></li>
            <li><a href="#">Shop for Business</a></li>
          </ul>
        </div>
        <button class="accordion">For Education</button>
        <div class="panel">
          <ul>
            <li><a href="#">Apple and Education</a></li>
            <li><a href="#">Shop for University</a></li>
          </ul>
        </div>
        <button class="accordion">For Healthcare</button>
        <div class="panel">
          <ul>
            <li><a href="#">Apple in Healthcare</a></li>
            <li><a href="#">Health on Apple Watch</a></li>
          </ul>
        </div>
        <button class="accordion">Apple Values</button>
        <div class="panel">
          <ul>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Environment</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Supplier Responsibility</a></li>
          </ul>
        </div>
        <button class="accordion">About Apple</button>
        <div class="panel">
          <ul>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">Apple Leadership</a></li>
            <li><a href="#">Job Opportunities</a></li>
            <li><a href="#">Warranty</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">European Job Creation</a></li>
            <li><a href="#">Contact Apple</a></li>
          </ul>
        </div>
      </div>

      <br />
      <br />
      <div class="small-print-2">
        <p>
          More ways to shop: <a href="#">find an Apple Store</a> or
          <a href="#">other retailer</a> near you. Or call 0800 048 0408.
        </p>
      </div>
      <br />
      <hr />
      <br />
      <div class="bottom-links">
        <p>Copyright &copy; 2020 Apple Inc. All rights reserved.</p>
        <ul class="bottom-nav-links">
          <li><a href="#">Privacy Policy</a></li>
          <li>|</li>
          <li><a href="#">Use of Cookies</a></li>
          <li>|</li>
          <li><a href="#">Terms of Use</a></li>
          <li>|</li>
          <li><a href="#">Sales and Refunds</a></li>
          <li>|</li>
          <li><a href="#">Legal</a></li>
          <li>|</li>
          <li><a href="#">Site Map</a></li>
        </ul>
        <p><a href="#">UK</a></p>
      </div>
      <div class="bottom-nav-links-med">
        <ul class="bottom-nav-links-media">
          <li><a href="#">Privacy Policy</a></li>
          <li>|</li>
          <li><a href="#">Use of Cookies</a></li>
          <li>|</li>
          <li><a href="#">Terms of Use</a></li>
          <li>|</li>
          <li><a href="#">Sales and Refunds</a></li>
          <li>|</li>
          <li><a href="#">Legal</a></li>
          <li>|</li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>

    </div>

  </footer>